*{
    margin:0px;
    border:0px;
    box-sizing:border-box;
}

.main-container{
    background-image: url("../../static/images/main.png");
    background-size:cover;
    display: flex;
    flex-direction: row;
    width:100%;
    min-height: 100vh;
}

.reset{
    position: absolute;
    left:50%;
    top:50%;
}

.HeroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height:100vh;
    gap:2rem;
}

.VillanContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 100vh;
    gap:2rem;
}

.HeroContainer img{
    width:21rem;
    height:32rem;
}

.VillanContainer img{
    width:25rem;
    height:32rem;
}

input[type="range"]{
    -webkit-appearance: none;
    background-color: #FFFFFF33;
    position: absolute;
    left: 5rem;
    width: 20rem;
    height: 3.5rem;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-radius: 1rem;
    overflow: hidden;
    cursor: row-resize;    
}

input[type="range"][step]{
    background-color: transparent;
    background-image: repeating-linear-gradient(to right,#d67c7c,#d67c7c calc(12.5% - 1px),#d67c7c 12.5%);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem #d67c7c;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem #FFFFFF33;
}
  
.villan-input{
    margin-left:69rem;
}

.villanPower{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:4rem;
}